html {
  height: 100%;
}

body {
  min-height: 100%;
  padding-bottom: 200px;
}

.file-card {
  height: 100%;
  cursor: pointer;
  position: relative;

  .card-img-top {
    padding-bottom: 50%;
    background: #EFEFEF;
    position: relative;
    overflow: hidden;


    .bi {
      font-size: 50px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: #D6D6D6;
    }

    .file-preview {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }
  }

  .card-body {
    font-size: 14px;
    font-weight: bold;
  }

  &.selected {
    border-color: #fff;
    box-shadow: 0px 0px 8px 3px #337CFF;
  }

  &.loading {
    border-color: #fff;
    cursor: wait;
    .spinner {
      display: block;
    }
  }
  &.done {
    border-color: #fff;
    box-shadow: 0px 0px 8px 3px green;
    opacity: 1;
    pointer-events: none;
  }
}

.folders {
  border-bottom: 1px solid #D6D6D6;
}

.folder-card {
  background: #EFEFEF;

  .bi {
    color: #AEAEAE;
    display: inline-block;
    font-size: 24px;
    margin-right: 10px;

    position: relative;

    .spinner {
      position: absolute;
      top: 5px;
      display: none;
    }
  }

  a {
    color: inherit;
    font-size: 14px;
    font-weight: bold;
  }

  &.loading {
    .bi {
      color: transparent;
      .spinner {
        display: block;
      }
    }
  }

}

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
box-shadow: 0px 0px 10px -4px #000000;
background: #fff;
z-index: 100000;
}

.bottom-bar {
  text-align: right;
}



@keyframes ldio-bqauav5xs6 {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-bqauav5xs6 div {
  left: calc(50% - 5px);
  top: calc(50% - 40px);
  position: absolute;
  animation: ldio-bqauav5xs6 linear 1s infinite;
  background: #2271b1;
  width: 10px;
  height: 10px;
  border-radius: 5px / 5px;
  transform-origin: 5px 29px;
}.ldio-bqauav5xs6 div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9090909090909091s;
  background: #2271b1;
}.ldio-bqauav5xs6 div:nth-child(2) {
  transform: rotate(32.72727272727273deg);
  animation-delay: -0.8181818181818182s;
  background: #2271b1;
}.ldio-bqauav5xs6 div:nth-child(3) {
  transform: rotate(65.45454545454545deg);
  animation-delay: -0.7272727272727273s;
  background: #2271b1;
}.ldio-bqauav5xs6 div:nth-child(4) {
  transform: rotate(98.18181818181819deg);
  animation-delay: -0.6363636363636364s;
  background: #2271b1;
}.ldio-bqauav5xs6 div:nth-child(5) {
  transform: rotate(130.9090909090909deg);
  animation-delay: -0.5454545454545454s;
  background: #2271b1;
}.ldio-bqauav5xs6 div:nth-child(6) {
  transform: rotate(163.63636363636363deg);
  animation-delay: -0.45454545454545453s;
  background: #2271b1;
}.ldio-bqauav5xs6 div:nth-child(7) {
  transform: rotate(196.36363636363637deg);
  animation-delay: -0.36363636363636365s;
  background: #2271b1;
}.ldio-bqauav5xs6 div:nth-child(8) {
  transform: rotate(229.0909090909091deg);
  animation-delay: -0.2727272727272727s;
  background: #2271b1;
}.ldio-bqauav5xs6 div:nth-child(9) {
  transform: rotate(261.8181818181818deg);
  animation-delay: -0.18181818181818182s;
  background: #2271b1;
}.ldio-bqauav5xs6 div:nth-child(10) {
  transform: rotate(294.54545454545456deg);
  animation-delay: -0.09090909090909091s;
  background: #2271b1;
}.ldio-bqauav5xs6 div:nth-child(11) {
  transform: rotate(327.27272727272725deg);
  animation-delay: 0s;
  background: #2271b1;
}
.loadingio-spinner-spinner-1q3rcs6t4gg {
  width: 100%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}
.ldio-bqauav5xs6 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-bqauav5xs6 div { box-sizing: content-box; }

.spinner {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(225,225,225, 0.8);
  display: none;
}






@keyframes ldio-4p4phwxwvdc {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-4p4phwxwvdc div {
  left: 40px;
  top: 10px;
  position: absolute;
  animation: ldio-4p4phwxwvdc linear 1s infinite;
  background: #2271b1;
  width: 20px;
  height: 20px;
  border-radius: 10px / 10px;
  transform-origin: 10px 40px;
}.ldio-4p4phwxwvdc div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.8571428571428571s;
  background: #2271b1;
}.ldio-4p4phwxwvdc div:nth-child(2) {
  transform: rotate(51.42857142857143deg);
  animation-delay: -0.7142857142857143s;
  background: #2271b1;
}.ldio-4p4phwxwvdc div:nth-child(3) {
  transform: rotate(102.85714285714286deg);
  animation-delay: -0.5714285714285714s;
  background: #2271b1;
}.ldio-4p4phwxwvdc div:nth-child(4) {
  transform: rotate(154.28571428571428deg);
  animation-delay: -0.42857142857142855s;
  background: #2271b1;
}.ldio-4p4phwxwvdc div:nth-child(5) {
  transform: rotate(205.71428571428572deg);
  animation-delay: -0.2857142857142857s;
  background: #2271b1;
}.ldio-4p4phwxwvdc div:nth-child(6) {
  transform: rotate(257.14285714285717deg);
  animation-delay: -0.14285714285714285s;
  background: #2271b1;
}.ldio-4p4phwxwvdc div:nth-child(7) {
  transform: rotate(308.57142857142856deg);
  animation-delay: 0s;
  background: #2271b1;
}
.loadingio-spinner-spinner-xjct47135ml {
  width: 30px;
  height: 30px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-4p4phwxwvdc {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.3);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-4p4phwxwvdc div { box-sizing: content-box; }