html {
  height: 100%;
}

body {
  min-height: 100%;
  padding-bottom: 200px;
}

.file-card {
  height: 100%;
  cursor: pointer;
  position: relative;
}

.file-card .card-img-top {
  padding-bottom: 50%;
  background: #EFEFEF;
  position: relative;
  overflow: hidden;
}

.file-card .card-img-top .bi {
  font-size: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #D6D6D6;
}

.file-card .card-img-top .file-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.file-card .card-body {
  font-size: 14px;
  font-weight: bold;
}

.file-card.selected {
  border-color: #fff;
  -webkit-box-shadow: 0px 0px 8px 3px #337CFF;
          box-shadow: 0px 0px 8px 3px #337CFF;
}

.file-card.loading {
  border-color: #fff;
  cursor: wait;
}

.file-card.loading .spinner {
  display: block;
}

.file-card.done {
  border-color: #fff;
  -webkit-box-shadow: 0px 0px 8px 3px green;
          box-shadow: 0px 0px 8px 3px green;
  opacity: 1;
  pointer-events: none;
}

.folders {
  border-bottom: 1px solid #D6D6D6;
}

.folder-card {
  background: #EFEFEF;
}

.folder-card .bi {
  color: #AEAEAE;
  display: inline-block;
  font-size: 24px;
  margin-right: 10px;
  position: relative;
}

.folder-card .bi .spinner {
  position: absolute;
  top: 5px;
  display: none;
}

.folder-card a {
  color: inherit;
  font-size: 14px;
  font-weight: bold;
}

.folder-card.loading .bi {
  color: transparent;
}

.folder-card.loading .bi .spinner {
  display: block;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  -webkit-box-shadow: 0px 0px 10px -4px #000000;
          box-shadow: 0px 0px 10px -4px #000000;
  background: #fff;
  z-index: 100000;
}

.bottom-bar {
  text-align: right;
}

@-webkit-keyframes ldio-bqauav5xs6 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes ldio-bqauav5xs6 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.ldio-bqauav5xs6 div {
  left: calc(50% - 5px);
  top: calc(50% - 40px);
  position: absolute;
  -webkit-animation: ldio-bqauav5xs6 linear 1s infinite;
          animation: ldio-bqauav5xs6 linear 1s infinite;
  background: #2271b1;
  width: 10px;
  height: 10px;
  border-radius: 5px / 5px;
  -webkit-transform-origin: 5px 29px;
          transform-origin: 5px 29px;
}

.ldio-bqauav5xs6 div:nth-child(1) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-animation-delay: -0.9090909090909091s;
          animation-delay: -0.9090909090909091s;
  background: #2271b1;
}

.ldio-bqauav5xs6 div:nth-child(2) {
  -webkit-transform: rotate(32.72727deg);
          transform: rotate(32.72727deg);
  -webkit-animation-delay: -0.8181818181818182s;
          animation-delay: -0.8181818181818182s;
  background: #2271b1;
}

.ldio-bqauav5xs6 div:nth-child(3) {
  -webkit-transform: rotate(65.45455deg);
          transform: rotate(65.45455deg);
  -webkit-animation-delay: -0.7272727272727273s;
          animation-delay: -0.7272727272727273s;
  background: #2271b1;
}

.ldio-bqauav5xs6 div:nth-child(4) {
  -webkit-transform: rotate(98.18182deg);
          transform: rotate(98.18182deg);
  -webkit-animation-delay: -0.6363636363636364s;
          animation-delay: -0.6363636363636364s;
  background: #2271b1;
}

.ldio-bqauav5xs6 div:nth-child(5) {
  -webkit-transform: rotate(130.90909deg);
          transform: rotate(130.90909deg);
  -webkit-animation-delay: -0.5454545454545454s;
          animation-delay: -0.5454545454545454s;
  background: #2271b1;
}

.ldio-bqauav5xs6 div:nth-child(6) {
  -webkit-transform: rotate(163.63636deg);
          transform: rotate(163.63636deg);
  -webkit-animation-delay: -0.45454545454545453s;
          animation-delay: -0.45454545454545453s;
  background: #2271b1;
}

.ldio-bqauav5xs6 div:nth-child(7) {
  -webkit-transform: rotate(196.36364deg);
          transform: rotate(196.36364deg);
  -webkit-animation-delay: -0.36363636363636365s;
          animation-delay: -0.36363636363636365s;
  background: #2271b1;
}

.ldio-bqauav5xs6 div:nth-child(8) {
  -webkit-transform: rotate(229.09091deg);
          transform: rotate(229.09091deg);
  -webkit-animation-delay: -0.2727272727272727s;
          animation-delay: -0.2727272727272727s;
  background: #2271b1;
}

.ldio-bqauav5xs6 div:nth-child(9) {
  -webkit-transform: rotate(261.81818deg);
          transform: rotate(261.81818deg);
  -webkit-animation-delay: -0.18181818181818182s;
          animation-delay: -0.18181818181818182s;
  background: #2271b1;
}

.ldio-bqauav5xs6 div:nth-child(10) {
  -webkit-transform: rotate(294.54545deg);
          transform: rotate(294.54545deg);
  -webkit-animation-delay: -0.09090909090909091s;
          animation-delay: -0.09090909090909091s;
  background: #2271b1;
}

.ldio-bqauav5xs6 div:nth-child(11) {
  -webkit-transform: rotate(327.27273deg);
          transform: rotate(327.27273deg);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  background: #2271b1;
}

.loadingio-spinner-spinner-1q3rcs6t4gg {
  width: 100%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}

.ldio-bqauav5xs6 {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateZ(0) scale(1);
          transform: translateZ(0) scale(1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  /* see note above */
}

.ldio-bqauav5xs6 div {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.spinner {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(225, 225, 225, 0.8);
  display: none;
}

@-webkit-keyframes ldio-4p4phwxwvdc {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes ldio-4p4phwxwvdc {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.ldio-4p4phwxwvdc div {
  left: 40px;
  top: 10px;
  position: absolute;
  -webkit-animation: ldio-4p4phwxwvdc linear 1s infinite;
          animation: ldio-4p4phwxwvdc linear 1s infinite;
  background: #2271b1;
  width: 20px;
  height: 20px;
  border-radius: 10px / 10px;
  -webkit-transform-origin: 10px 40px;
          transform-origin: 10px 40px;
}

.ldio-4p4phwxwvdc div:nth-child(1) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-animation-delay: -0.8571428571428571s;
          animation-delay: -0.8571428571428571s;
  background: #2271b1;
}

.ldio-4p4phwxwvdc div:nth-child(2) {
  -webkit-transform: rotate(51.42857deg);
          transform: rotate(51.42857deg);
  -webkit-animation-delay: -0.7142857142857143s;
          animation-delay: -0.7142857142857143s;
  background: #2271b1;
}

.ldio-4p4phwxwvdc div:nth-child(3) {
  -webkit-transform: rotate(102.85714deg);
          transform: rotate(102.85714deg);
  -webkit-animation-delay: -0.5714285714285714s;
          animation-delay: -0.5714285714285714s;
  background: #2271b1;
}

.ldio-4p4phwxwvdc div:nth-child(4) {
  -webkit-transform: rotate(154.28571deg);
          transform: rotate(154.28571deg);
  -webkit-animation-delay: -0.42857142857142855s;
          animation-delay: -0.42857142857142855s;
  background: #2271b1;
}

.ldio-4p4phwxwvdc div:nth-child(5) {
  -webkit-transform: rotate(205.71429deg);
          transform: rotate(205.71429deg);
  -webkit-animation-delay: -0.2857142857142857s;
          animation-delay: -0.2857142857142857s;
  background: #2271b1;
}

.ldio-4p4phwxwvdc div:nth-child(6) {
  -webkit-transform: rotate(257.14286deg);
          transform: rotate(257.14286deg);
  -webkit-animation-delay: -0.14285714285714285s;
          animation-delay: -0.14285714285714285s;
  background: #2271b1;
}

.ldio-4p4phwxwvdc div:nth-child(7) {
  -webkit-transform: rotate(308.57143deg);
          transform: rotate(308.57143deg);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  background: #2271b1;
}

.loadingio-spinner-spinner-xjct47135ml {
  width: 30px;
  height: 30px;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.ldio-4p4phwxwvdc {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateZ(0) scale(0.3);
          transform: translateZ(0) scale(0.3);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  /* see note above */
}

.ldio-4p4phwxwvdc div {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
/*# sourceMappingURL=style.css.map */